@import '_header.scss';

.main {
	display: flex;
	// flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	&-heading{
		width: 100%;
		text-align: center;
		@include txt(black, 18px, 16px, Arial);
	}
	.text {
		@include txt(grey, 16px, 12px, Arial);
	}
}